body {
	width: 100%;
	background: #000;
}

nav {
	top: 0;
	height: 4rem;
	width: 100%;
	background: rgba(0, 0, 0, 0.9);
}

.nav-menu-item {
	color: #9e9e9e;
	font-size: 1.25rem;
	margin-left: 3em;
	transition: all 0.2s;
}

.nav-menu-item:hover, .nav-menu-item:active, .nav-menu-item:focus {
	color: #fff;
}

.nav-logo img {
	width: 13.6rem;
}

@media only screen and (max-width: 640px) {
	.nav-menu-item {
		margin-left: 1rem;
	}
}

/**************************
 * hero
 */
.hero {
	margin-top: 4rem;
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(97,0,255,1) 100%);
	overflow: hidden;
}

.cloud {
	width: 100%;
}
.cloud img {
	width: 151.5625rem;
}

.glimpse {
	padding-top: 2rem;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 4rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.slogan {
	font-size: 1.5rem;
	color: #525252;
	width: 27rem;
	margin-bottom: 2rem;
}

.btn {
	height: 2.5rem;
	line-height: 2.4rem;
	border: 1px solid #fff;
	border-radius: 1.875rem;
	padding: 0 1.25rem;
	font-size: 1.125rem;
	background-color: #fff;
	transition: all 0.2s;
}

.btn:hover, .btn:active, .btn:focus {
	background-color: #000;
	color: #fff;
	border-color: #000;
}

.wire-btn {
	background: transparent;
	border-color: #fff;
	color: #fff;
}

.hero-btns .btn:not(:first-child){
	margin-left: 1.5rem;
}

.brief {
	padding: 6rem 0;
}

.wasm-snippet {
	width: 0;
}

.wasm-snippet-trail  {
	background-color: #2e2e2e;
	border: 1px solid #888;
	border-radius: 0.625rem;
	padding: 1rem 1rem;
}

.wasm-snippet-trail pre {
	margin: 0;
}

.wasm-snippet-trail pre code {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	line-height: 1.75;
	letter-spacing: 0.1rem;
	color: #0f0;
}

.wasm-snippet-trail:nth-of-type(2) {
	transform: scale(0.5) translate(-40%, -40%);
}

.wasm-snippet-trail:nth-of-type(3) {
	transform: scale(0.25) translate(-310%, -110%);
}

.wasm-snippet-trail:nth-of-type(4) {
	transform: scale(0.125) translate(-1230%, -230%);
}

.wasm-snippet-trail:nth-of-type(5) {
	transform: scale(0.0625) translate(-3830%, -470%);
}

.snippet-trail-line {
	top: 6rem;
	left: 21rem;
}

.snippet-trail-line img {
	width: 26.6875rem;
}

.wasmedge-in-cloud img {
	width: 16.3125rem;
}

.explain-text {
	font-size: 1.25rem;
	color: #fff;
	width: 38rem;
	margin-top: 4rem;
}

@media only screen and (max-width: 640px) {
	.hero {
		box-shadow: 0 1rem 4rem 0 #230938;
	}
	.brief {
		padding: 4rem 0;
	}

	.wasm-snippet-trail pre code {
		font-size: 0.5rem;
		line-height: 1;
	}
	.wasm-snippet-trail:nth-of-type(2) {
		display: none;
	}
	
	.wasm-snippet-trail:nth-of-type(3) {
		display: none;
	}
	
	.wasm-snippet-trail:nth-of-type(4) {
		display: none;
	}
	
	.wasm-snippet-trail:nth-of-type(5) {
		display: none;
	}

	.snippet-trail-line {
		top: 4.8rem;
		left: 8rem;
	}

	.snippet-trail-line img {
		width: 12rem;
	}

	.wasmedge-in-cloud img {
		width: 12rem;
	}

	.explain-text {
		font-size: 1.25rem;
		width: 14rem;
		margin-top: 1rem;
	}
}
/**************************
 * hero end
 */


/**************************
 * features
 */
.features-catalog-bg {
	height: 700vh;
	background: #fff;
	width: 40%;
}
.features-catalog {
	top: 0;
	height: 100vh;
	min-height: 38.875rem;
}

.features-catalog ul li {
	position: relative;
	padding: 0;
	margin: 1rem 0;
	list-style: none;
	font-size: 1.125rem;
}

.features-catalog ul li.active::before {
	content: '';
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 0.25rem;
	left: -2rem;
	background: url(../img/circle.svg);
	background-size: contain;
}

.features-catalog ul li a {
	transition: all 0.5s;
}

.features-catalog ul li a:hover {
	color: #842cdd;
}

.features-catalog ul li.active a {
	color: #842cdd;
}

.features-content {
	width: 60%;
}

.feature-detail {
	height: 100vh;
	min-height: 38.875rem;
	padding: 0 5rem 0 8rem;
	font-size: 2.25rem;
	color: #fff;
	background-image: url("data:image/svg+xml,%0A%3Csvg width='58' height='117' viewBox='0 0 58 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58 58.5C58 90.8087 31.8087 117 -0.5 117V0C31.8087 0 58 26.1913 58 58.5Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 3.65625rem 7.3125rem;
}

.feature-detail ul {
	padding-left: 2.5rem;
}

@media only screen and (max-width: 640px) {
	.features {
		background-color: #fff;
		padding: 6rem 0 4rem;
	}

	.m-feature-frame {
		width: 100%;
		background-color: #000;
		color: #fff;
		padding: 2rem 2rem 2rem 5rem;
		border-radius: 1rem;
		background-image: url("data:image/svg+xml,%0A%3Csvg width='58' height='117' viewBox='0 0 58 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58 58.5C58 90.8087 31.8087 117 -0.5 117V0C31.8087 0 58 26.1913 58 58.5Z' fill='white'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center left;
		background-size: 2.25rem 4.5rem;
	}
	
	.m-feature-frame:not(:first-child) {
		margin-top: 2rem;
	}

	.m-feature-title {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	.m-feature-detail {
		font-size: 1.25rem;
		font-weight: 300;
	}

	.m-feature-detail ul {
		list-style-position: inside;
	}
}


@media only screen and (min-width: 640px) and (orientation: portrait) {
	.features {
		background-color: #fff;
		padding: 4rem 0;
	}

	.m-feature-frame {
		width: 45%;
		background-color: #000;
		color: #fff;
		padding: 2rem 2rem 2rem 5rem;
		border-radius: 1rem;
		background-image: url("data:image/svg+xml,%0A%3Csvg width='58' height='117' viewBox='0 0 58 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58 58.5C58 90.8087 31.8087 117 -0.5 117V0C31.8087 0 58 26.1913 58 58.5Z' fill='white'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center left;
		background-size: 2.125rem 4.25rem;
	}
	
	.m-feature-frame {
		margin-top: 2rem;
	}

	.m-feature-title {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	.m-feature-detail {
		font-size: 1.25rem;
		font-weight: 300;
	}

	.m-feature-detail ul {
		list-style-position: inside;
	}
}
/**************************
 * features end
 */


/**************************
 * partners
 */
.partners {
	padding: 7rem 0;
	background-color: #fff;
}
.partner-text {
	width: 38rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	font-weight: 300;
}
.parterns-gallery:not(:first-child) {
	margin-top: 3rem;
}
.parterns-gallery img[alt="OpenYurt"] {
	width: 12.3125rem;
}
.parterns-gallery img[alt="KubeEdge"] {
	width: 12.5rem;
}
.parterns-gallery img[alt="SuperEdge"] {
	width: 14.208125rem;
}
.parterns-gallery img[alt="cri-o"] {
	width: 9.6875rem;
}
.parterns-gallery img[alt="Suborbital"] {
	width: 19.5625rem;
	margin-left: -0.625rem;
}
.parterns-gallery img[alt="Kubernetes"] {
	width: 19.25rem;
}
.parterns-gallery img[alt="MOSN"] {
	width: 9.9375rem;
}
.parterns-gallery img[alt="Dapr"] {
	width: 6.375rem;
}
.parterns-gallery img[alt="Containerd"] {
	width: 17.0625rem;
}
.parterns-gallery img[alt="Fedora"] {
	width: 12.4375rem;
}

@media only screen and (max-width: 640px) {
	.partners {
		padding: 4rem 0;
	}

	.partner-text {
		width: 100%;
	}

	.parterns-gallery figure:nth-of-type(n+3) {
		margin-top: 3rem;
	}
}
/**************************
 * partners end
 */


/**************************
 * news
 */
.news {
	background-color: #eee;
	padding: 7rem 0;
}

.news h2 {
	font-size: 2.25rem;
	font-weight: 600;
	margin: 0 0 5rem;
}

.news-article {
	width: 30%;
}

.article-date {
	font-size: 1.125rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.article-title {
	font-size: 1.125rem;
	font-weight: 600;
	width: 16rem;
	margin-bottom: 1.5rem;
}

.article-summary {
	font-weight: 300;
	margin-bottom: 1.5rem;
}

.article-link a {
	font-weight: 300;
	color: #2570df;
}
.article-link a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 640px) {
	.news {
		padding: 4rem 0;
	}
	.news h2 {
		margin-bottom: 3rem;
	}
	.news-article {
		width: 100%;
	}
	.article-date {
		font-size: 1.5rem;
	}
	.news-article:not(:first-child) {
		margin-top: 3rem;
	}
	.article-title {
		font-size: 1.5rem;
		width: auto;
		margin-bottom: 0.5rem;
	}
	.article-summary {
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}

	.article-link a {
		font-size: 1.25rem;
	}
}

/**************************
 * news end
 */


/**************************
 * fulfill
 */
.fulfill {
	background-color: #000;
	padding: 7rem 0;
	color: #fff;
	box-shadow: -6rem 2rem 6rem 2rem #230938;
}

.fulfill h2 {
	font-size: 2.25rem;
	font-weight: 600;
	margin: 0 0 5rem;
}

.fulfill-content {
	font-size: 1.5rem;
	font-weight: 300;
}

.fulfill-content p {
	margin: 1rem 0;
}

.fulfill-content p a {
	color: #74acff;
}
.fulfill-content p a:hover {
	text-decoration: underline;
}

.wasmedge-install-command code {
	display: inline-block;
	padding: 0 1rem;
	font-size: 0.875rem;
	line-height: 2.75;
	background-color: #727272;
	max-width: 100%;
	white-space: nowrap;
}

.wasmedge-sdk-lang {
	margin-top: 2rem;
}

.wasmedge-sdk-lang a {
	height: 2.625rem;
	line-height: 2.625rem;
	background-color: #fff;
	border-radius: 3.125rem;
	padding: 0 0.75rem;
	font-size: 1.125rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	margin-right: 3rem;
}

.wasmedge-sdk-lang a span {
	letter-spacing: 0;
}

@media only screen and (max-width: 640px) {
	.fulfill {
		padding: 4rem 0;
		box-shadow: 0 2rem 6rem 3rem #230938;
	}
	.fulfill h2 {
		margin-bottom: 3rem;
	}
	.wasmedge-install-command code {
		overflow: scroll;
	}
}
/**************************
 * fulfill end
 */


/**************************
 * cncf
 */
.cncf {
	height: 16.875rem;
	background: linear-gradient(135deg, rgba(243, 161, 185,1) 0%, rgba(183, 59, 186,1) 100%);
}

.cncf-announce {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.cncf img[alt="CNCF"] {
	width: 16.0615rem;
}

@media only screen and (max-width: 640px) {
	.cncf-announce {
		width: 90%;
		text-align: center;
	}
}
/**************************
 * cncf end
 */


/**************************
 * footer
 */
.footer {
	padding: 5rem 0;
}

.footer-logo img {
	width: 24.75rem;
}

.footer-entries:not(:first-child) {
	margin-left: 5rem;
}

.footer-entries dt {
	margin-bottom: 1rem;
	font-size: 1.125rem;
	font-weight: 600;
	color: #fff;
}

.footer-entries dd {
	margin-bottom: 0.5rem;
}

.footer-entries dd a {
	font-size: 1.125rem;
	font-weight: 300;
	color: #eee;
}

.footer-entries dd a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 640px) {
	.footer {
		padding: 4rem 0;
	}

	.footer-right {
		margin-top: 2rem;
	}
}
/**************************
 * footer end
 */


/**************************
 * copyright
 */
.copyright {
	padding-bottom: 3rem;
	background-color: #000;
	color: #aaa;
	font-weight: 300;
}
.copyright p {
	margin: 0.1rem 0;
}

@media only screen and (max-width: 640px) {
	.copyright {
		font-size: 0.875rem;
	}
}
/**************************
 * copyright end
 */