.full {
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dimmed {
    width: 72.5rem;
    margin: 0 auto;
}

.dimmer {
    width: 64rem;
}

.hide {
    display: none;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

.z-8 {
    z-index: 8;
}

.z-9 {
    z-index: 9;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

@media only screen and (max-width: 640px) {
    .m\:hide {
        display: none;
    }
    .m\:show {
        display: block;
    }
    .m\:flex {
        display: flex;
    }
    .dimmed{
        width: 32rem;
    }

    .m\:flex-wrap {
        flex-wrap: wrap;
    }

    .m\:flex-col {
        flex-direction: column;
    }

    .m\:justify-center {
        justify-content: center;
    }

    .m\:justify-around {
        justify-content: space-around;
    }

    .m\:items-start {
        align-items: flex-start;
    }

    .m\:items-center {
        align-items: center;
    }
}

/**
 * For portrait
 */
@media only screen and (min-width: 640px) and (orientation: portrait) {
    .p\:hide {
        display: none;
    }
    .p\:show {
        display: block;
    }
    .p\:flex {
        display: flex;
    }

    .p\:flex-wrap {
        flex-wrap: wrap;
    }

    .p\:justify-around {
        justify-content: space-around;
    }
}